:root{
	/*Colores*/
	--bg-app:rgb(245, 245, 245);
	--bg-page:rgba(255, 255, 255, 1);
	--bg-tarjetitas:rgb(250, 250, 250);
	--shadow:rgba(0,0,0, .12);
	--bg-average:rgba(30, 115, 191, .25);
	--font-color:#484848;
	--font-color-2:#808080;
	--color-sub-title:#fff;
	--color-title-sidebar:rgb(30,115,191);
	--bg-sub-title:#043a69;
	--shadow-length: 36px ;
}
