.subscribe__box {
  width: 100%;
  background: #F2F4F5;
  padding: 65px 50px;
  box-shadow: 0px 15px 30px #00000029;
  border-radius: 20px;
  display: flex;
  align-items: start;
  position: relative;
  margin-bottom: 30px;
}
.free-link {
  width: auto;
  color: #00203a;
  line-height: 37px;
  font-weight: 700;
  position: relative;
  text-align: center;
  /*font-size:*/ 2.5rem;
}
.free-link:before {
  position: absolute;
  width: 0;
  height: 5px;
  background: #001F39;
  content: "";
  left: 0;
  bottom: -16px;
  transition: .3s;
}
.free-link.active::before {
  width: 100%;
}

.sub-inn {
  display: flex;
  align-items: start;
}

.sub-bx-lf {
  width: 120px;
  text-align: center;
}

.subscribe__img {
  width: 120px;
  height: 120px;
}

.subscribe__img img {
  width: 100%;
  height: 100%;
}

.subscribe__icon a {
  /*font-size:*/ 24px;
  color: #001F39;
  margin: 0 4px;
}

.subscribe__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.subscribe__icon.ic-mbl {
  display: none;
  justify-content: start;
}

.sub__box--ri {
  width: 666px;
  margin-left: 50px;
}

.sub__box--ri h2 {
  /*font-size:*/ 24px;
  color: #00203A;
  font-weight: 700;
}

.sub__box--ri p {
  margin: 0;
  /*font-size:*/ 14px;
  color: #707070;
  line-height: 27px;
}

.subscribe__btn {
  position: absolute;
  width: 160px;
  height: 45px;
  top: 30px;
  right: 30px;
}

.subscribe__btn a {
  width: 100%;
  height: 100%;
  /*font-size:*/ 18px;
  font-weight: 500;
  background: #009fe3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 5px;
}

.estad__wp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15rem;
  padding-right: 15rem;
  margin-top: 5px;
  margin-bottom: 60px;
}

.estad__single {
  width: 120px;
  text-align: center;
}

.estad__wrap h4 {
  /*font-size:*/ 34px;
  color: #00203A;
  line-height: 46px;
  margin: 0;
  font-weight: 700;
}

.estad__wrap.est-sec {
  margin-top: 40px;
}

.estad__box {
  width: 100%;
  background: #fff;
  box-shadow: 0px 15px 30px #00000029;
  border-radius: 10px;
}

.estad-tabs {
  width: 100%;
  padding-left: 15rem !important;
  padding: 11px 15rem;
  border-bottom: 6px solid #8594a0;
  display: flex;
  justify-content: space-between;
}

.estd__bt h5 {
  width: 100%;
  height: 70px;
  box-shadow: 0px 10px 20px #00000029;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00203a;
  font-weight: 700;
  position: relative;
  border-radius: 8px;
  /*font-size:*/ 2rem;
}

.estd__bt h5:before {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #001f39;
  content: "";
  left: 0;
  bottom: 0;
  border-radius: 0 0 4px 4px;
}
.free-tabs {
  width: 100%;
  padding-left: 180px !important;
  padding: 11px 180px;
  border-bottom: 6px solid #8594a0;
  display: flex;
  justify-content: space-between;
}
.free__table {
	text-align: center
}

.free__table tr th {
  /*font-size:*/ 20px;
  color: #707070;
  line-height: 27px;
  font-weight: 300;
  border-top: 0;
  border-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.free__table-wd {
  padding: 30px 50px;
}
.free__table tr td {
  /*font-size:*/ 18px;
  font-weight: 700;
  border-bottom: 0 !important;
  border-top: 0;
  vertical-align: middle;
}
.free__table tr td:last-child i {
  color: #80C76B;
  text-align: right;
}
.free__table tr td:last-child {
  text-align: center;
}
.free__table tr th:last-child {
  text-align: center;
}
.estad__tabl {
  width: 476px;
  margin: auto;
  padding-bottom: 30px;
}

.estad__tabl---head p {
  margin: 0;
  /*font-size:*/ 20px;
  color: #707070;
  line-height: 27px;
  padding: 0 5px;
}

.estad__tabl---head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.restad__tabl--mid p {
  /*font-size:*/ 20px;
  color: #00203A;
  line-height: 27px;
  font-weight: 700;
  margin: 0;
  padding: 0 10px;
}

.restad__tabl--mid {
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.estad-link {
  width: auto;
  /*font-size:*/ 2.5rem;
  color: #00203a;
  line-height: 37px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estad-link:before {
  position: absolute;
  width: 0;
  height: 5px;
  background: #001F39;
  content: "";
  left: 0;
  bottom: -16px;
  transition: .3s;
}

.estad-link.active::before {
  width: 100%;
}

@media (max-width: 991.98px) {
  .sub__box--ri {
    width: 400px;
    margin-left: 50px;
  }

  .sub__box--ri h3 {
    /*font-size:*/ 33px;
    line-height: 44px;
    margin-bottom: 12px;
  }

  .estad-link {
    width: 120px !important;
    color: #00203A;
    line-height: 37px;
    font-weight: 700;
    position: relative;
  }

  .estad-link::before {
    position: absolute;
    width: 0;
    height: 5px;
    background: #001F39;
    content: "";
    left: 0;
    bottom: -16px;
    transition: .3s;
  }

  .estad__wp {
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: 5px;
    margin-bottom: 7rem;
  }
  .free__table-wd {
    padding: 20px 18px;
  }  
   .free__table tr td {
    /*font-size:*/ 14px;
    font-weight: 700;
    border-bottom: 0 !important;
    border-top: 0;
  }   
    .free__table tr th {
    /*font-size:*/ 15px;
    color: #707070;
    line-height: 27px;
    font-weight: 300;
    border-top: 0;
    border-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }  
  .free-tabs {
    width: 100%;
    padding-left: 30px !important;
    padding: 11px 30px;
}
.free-link {
  width: 120px;
}

}

@media (max-width: 767.98px) {
  .subscribe__box {
    padding: 20px;
    display: block;
  }

  .subscribe__box p {
    margin: 0;
    /*font-size:*/ 14px;
    color: #707070;
    line-height: 27px;
  }

  .subscribe__img {
    width: 70px;
    height: 70px;
  }

  .subscribe__icon.ic-mbl {
    display: flex;
    justify-content: start;
  }

  .sub__box--ri h3 {
    /*font-size:*/ 24px;
    line-height: 41px;
    margin-bottom: 0;
  }

  .sub__box--ri {
    width: 100%;
    margin-left: 19px;
  }

  .subscribe__btn {
    display: none;
  }

  .estad__wrap h4 {
    /*font-size:*/ 28px;
    color: #00203A;
    line-height: 46px;
    margin: 0;
    font-weight: 700;
  }

  .estad-tabs {
    padding-left: 8rem !important;
    padding: 10px 8rem;
  }

  .estad-link {
    width: 120px !important;
    color: #00203A;
    line-height: 37px;
    font-weight: 700;
    position: relative;
  }

  .estad-link::before {
    position: absolute;
    width: 0;
    height: 5px;
    background: #001F39;
    content: "";
    left: 0;
    bottom: -16px;
    transition: .3s;
  }

  .estad__wp {
    margin-top: 5px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .estad__single {
    width: 46%;
    margin-bottom: 16px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .restad__tabl--mid p {
    /*font-size:*/ 12px;
    color: #00203A;
    line-height: 27px;
    font-weight: 700;
    margin: 0;
    padding: 0 10px;
  }

  .estad__tabl---head p {
    margin: 0;
    /*font-size:*/ 14px;
    color: #707070;
    line-height: 27px;
    padding: 0 5px;
  }

  .estad__tabl {
    width: 96%;
    margin: auto;
    padding-bottom: 30px;
  }
  .free__table-wd {
    padding: 20px 18px;
    width: 100%;
    overflow-x: scroll;
  }  
    .free__table {
    width: 700px;
  }
   .free__table tr td {
    /*font-size:*/ 14px;
    font-weight: 700;
    border-bottom: 0 !important;
    border-top: 0;
  }   
    .free__table tr th {
    /*font-size:*/ 15px;
    color: #707070;
    line-height: 27px;
    font-weight: 300;
    border-top: 0;
    border-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }  
  .free-link {
    width: revert;
  }
}

@media (max-width: 575.98px) {
  .estad-tabs {
    padding-left: 1rem !important;
    padding: 10px 1rem;
  }
}