.accor_btn button{
	color: #0558CB;
	font-weight: 400;
	padding: 0;
	border: none;
	background-color: transparent;
	transition: 0.3s;
}
.accor_btn button i{
	margin-left: 0.8rem;
	margin-bottom: -0.3rem;
	transition: 0.3s;
}
.loadbtn {
    background: transparent linear-gradient(107deg,#0558cb 0%,#023986 100%);
    box-shadow: 0px .3rem 1.5rem rgba(11,105,236,.4);
    color: #fff !important;
    margin-left: auto;
    margin-right: auto;
}
.loadbtn:hover{
	background: transparent linear-gradient(-107deg, #0558CB 0%, #023986 100%);
}
.date_item_pronostico_top b,.date_item_pronostico_top time{
	font-size: .75rem;
	font-weight: 600;
}
.event_top_left img {
	width: 5.3rem !important;
	height: auto !important;
  }
  .event_top_right img {
	width: 5.3rem !important;
	height: auto !important;
  }
.accor_btn button[aria-expanded="true"] i{
	transform: rotate(-180deg);
}
.accor_btn button::before{
	content: 'Ver anÃ¡lisis';
}
.accor_btn button[aria-expanded="true"]::before{
	content: 'Ocultar anÃ¡lisis';
}
/*model 2*/
.game_box{
	background: #FFFFFF;
	box-shadow: 0px 1.5rem 3.0rem rgba(162, 166, 177, 0.26);
	border-radius: 1.0rem;
	padding: 2.3rem 2.8rem;
	text-align: center;
	transition: 0.3s;
}
.game_box:hover{
	box-shadow: 0 1.5rem 3.0rem rgba(58, 59, 62, 0.33);
}
.game_top{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.game_box{
	font-size:.8rem;
}
.game_box .team_text{
	font-size:.92rem;
}
.club_box{
	text-align: center;
	justify-content: space-between;
	margin-top: 2.5rem;
	
}
.club_box img{
	object-fit: contain;
	object-position: center center;
}
.game_btn{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #abaeb1;
	border: 0.1rem solid #E4E6E8;
	border-radius: 1rem;
	margin-top: 1.8rem;
	font-weight: 500;
}
.game_btn img{
	border-radius: 4px;
	margin-right: 1rem;
	padding: .2rem;
	background-color: #000000;
	object-fit: contain;
}
.game_btn:hover{
	color: #0558CB;
	border-color: transparent;
	box-shadow: 0 .5rem 3.0rem rgba(103, 108, 121, 0.33);
}

.game_top img{
	width: 2rem;
}
.game_btn.v2{
	background: #009fe3;
	justify-content: center;
	color: #F2E6E6;
	min-height: 3rem;
}
.game_btn.v2 i{
	margin-right: 1rem;
}
.event_select .nice-select {
    background-color: white;
    border: 0.1rem solid #0558CB;
    height: 4.2rem;
    line-height: 2.5;
    color: #0558CB;
}
.nice-select:after {
    border-bottom: 2px solid #0558CB;
    border-right: 2px solid #0558CB;
    height: 5px;
    width: 5px;
}
/* model 3*/
.event2_box{
	border: 0.1rem solid #e5e5e5;
	overflow: hidden;
	border-radius: 0px 0px 0.4rem 0.4rem;
	padding-bottom: 3rem;
}
.event2_top_box_wrapper{
	padding: 1rem 2rem;
	background-color: #001F39;
	box-shadow: 0px 15px 30px #A2A6B126;
	border-radius: 0.4rem;
}
.event2_top_box{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.event_top_middle {
    text-align: center;
}
.event_top_left,
.event_top_right{
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-color: #E4E6E8;
	border: 0.4rem solid #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.game_time{
	max-width: 100%;
	flex: 0 0 100%;
	width: 100%;
	margin-top: 1rem;
	color: #000000;
}

.event_top_middle p{
	color: #FFFFFF;
	font-size: 0.9rem;
	margin-bottom: 0;
}
.event_top_middle .p2 span{
	font-weight: 400;
	color: #E7ECF1;
}

.event2_top_box_wrapper span {
    line-height: 1.2;
    color: #E8EAEB;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 2px;
}
.event2_top_box_wrapper a{

color: #ffffff;

/* text-align: center; */
}
.event2_top_box_wrapper a:hover{ 
	color: #c3c3c4;
	text-decoration: underline;
}
.event2_box_middle_content{
	width: 80%;
	margin: 2rem auto;
}

.event_btn_img{
	max-width: 60%;
	width: 80%;
	max-height: 50px;
	overflow: hidden;
}

.event2_box3_middle{
	background-color: #F8FAFC;
	padding: 1.5rem 1.1rem;
}
.event2_box3_middle_content{
	background-color: #FFFFFF;
	border-radius: 0.8rem;
	padding: 2.4rem 3.6rem 4.0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.event2_box3_middle_content .button{
	background:#009fe3;
	box-shadow: none;
	margin-top: 1.8rem;
}
.event2_box3_middle_content .button:hover {
	background: #00b9f2; /* nuevo color de fondo al hacer hover */
	box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra al hacer hover */
	cursor: pointer; /* cursor de tipo puntero al hacer hover */
  }
.panel-default {
    border: none;
}

.panel-group {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding-right: 32px;
    text-align: justify;
}

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    border: none;
}

.panel-group .panel,.panel-group .panel2 {
    border-radius: 0px 0px 8px 8px;
    background-color: #001f39;
}
.panel-group .panel2 {
    background:#009fe3;
}

.panel-body {
	max-height: 213px;
    overflow: auto;
    border-radius: 0px 0px 8px 8px;
    padding: 0px 15px 10px;
}

.panel-default>.panel-heading {
    background-color: transparent;
}

.panel-heading {
    text-align: center;
    padding: 0px;
    height: 35px;
    border: none;
}
.panel-heading button {
	display: block;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.panel-button {
    padding: 20px;
    background: #999999;
    border-radius: 100%;
    position: relative;
    top: -13px;
    z-index: 9999;
}

.panel-button .plus-minus:before{
    content: "\f067";
    font-family: "FontAwesome";
}

.panel-button[aria-expanded="true"] .plus-minus:before{
    content: "\f068";
    font-family: "FontAwesome";
}



a.panel-button:hover, a.panel-button:focus {
    text-decoration: none;
}

a.panel-button {
    color: #333333;
    box-shadow: 0px 3px 7px #0000004a;
}
.panel-body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  .panel-body::-webkit-scrollbar-track {
	background: #001F39;        /* color of the tracking area */
  }
  .panel-body::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid #001F39;  /* creates padding around scroll thumb */
  }
  .event{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.8rem 2.5rem;
	border-radius: 1.1rem;
	margin-top: 1rem;
}
.img_logo {
    width: 12%;
    text-align: center;
}
.event:nth-child(odd){
	background-color: #F8FAFC;
	color: #00203A;
	border: 1px solid #00203a24;
}
.event>p,
.event>div{
	padding: 0 1rem;
}
.event>p{
	display: flex;
	align-items: center;
}
.event h2:hover{
	text-decoration: underline;
}
.event>p:first-child{
	font-weight: 500;
	width: 14%;
}
.event>p:last-child{
	font-weight: 500;
	width: 12%;
}

.event>p:nth-child(3){
	width: 0%;
	justify-content: center;
}
.event>p>img{
	width: 1.4rem;
	margin-right: 0.6rem;
}
.event>div>h2:nth-child(2){
	padding: 0 3rem;
	display: inline-block;
}

.event>div>h2{
	font-size: 1.2rem;
}

@media (max-width: 575.98px) {
	.game_box {
	    max-width: 50rem;
	    margin-left: auto;
	    margin-right: auto;
	}
	.game_btn,
	.game_btn.v2 {
	    margin-top: 2rem;
	}
	.game_btn img {
	    width: 14rem;
	}
	.game_btn.v2 {
	    min-height: 4.2rem;
	}
	
}