/*model 2*/
.game_box{
	background: #FFFFFF;
	box-shadow: 0px 1.5rem 3.0rem rgba(162, 166, 177, 0.26);
	border-radius: 1.0rem;
	padding: 2.3rem 2.8rem;
	text-align: center;
	transition: 0.3s;
}
.game_box:hover{
	box-shadow: 0 1.5rem 3.0rem rgba(58, 59, 62, 0.33);
}
.game_top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}
.game_box .team_text{
	font-size: 1.5rem;
	color: #051421;
	margin-top: 1rem;
}

.club_box{
	text-align: center;
	font-size: 1.2rem;
	justify-content: space-between;
	margin-top: 2.5rem;
	color: #051421;
}
.club_box img{
/* 	width: 6rem;
	height: 6rem; */
	object-fit: contain;
	object-position: center center;
}
.game_btn{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.4rem 1.7rem;
	font-size: 1.4rem;
	color: #ABAEB1;
	border: 0.1rem solid #E4E6E8;
	border-radius: 1.8rem;
	margin-top: 1.8rem;
	font-weight: 500;
}
.game_top span b{
	padding:0 .2rem;
}
.game_top img{
	width: 2rem;
}
.game_btn img{
	width: 8.9rem;
}
.game_btn:hover{
	color: #0558CB;
	border-color: transparent;
	box-shadow: 0 .5rem 3.0rem rgba(103, 108, 121, 0.33);
}
.game_btn.v2{
	background: #009fe3;
	justify-content: center;
	color: #F2E6E6;
	font-size: 1.3rem;
	min-height: 3rem;
}
.game_btn.v2 i{
	margin-right: 1rem;
}
.event_select .nice-select {
    background-color: white;
    border: 0.1rem solid #0558CB;
    font-size: 1.6rem;
    height: 4.2rem;
    line-height: 2.5;
    color: #0558CB;
}
.nice-select:after {
    border-bottom: 2px solid #0558CB;
    border-right: 2px solid #0558CB;
    height: 5px;
    width: 5px;
}
@media (max-width: 575.98px) {
	.game_box {
	    max-width: 315px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.game_top,
	.club_box,
	.team_text {
	    font-size: 1.8rem!important;
	}
	.game_btn,
	.game_btn.v2 {
	    font-size: 2rem;
	}
	.game_btn img {
	    width: 14rem;
	}
	.game_btn.v2 {
	    min-height: 4.2rem;
	}
	
}