.container_tarjetitas_3 > div{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 2.5px;
    place-items: center;
    place-content: center;
}
.tarjetita_pronostico_3{
    width:98%;
    height:98%;
    border-radius: 5px;
    border: 1px solid var(--shadow);
    background: var(--bg-tarjetitas);
}
.tarjetita_pronostico_3 .enfrentamiento{
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-rows: 60px;
    place-items: center;
    place-content: center;
}
.tarjetita_pronostico_3 .enfrentamiento > div{
    text-align: center;
}
.tarjetita_pronostico_3 .enfrentamiento > div:last-child{
    grid-column: 1 / span 3;
    padding: 5px 0;
}
.tarjetita_pronostico_3 .enfrentamiento img, .tarjetita_pronostico_3 .recompensa img{
    width:55px;
    height:55px;
    background: white;
    padding:5px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 0px 5px var(--shadow);
}

.tarjetita_pronostico_3 .eleccion_partido, .tarjetita_pronostico_3 .recompensa{
    width:95%;
    margin: auto;
}

.tarjetita_pronostico_3 .recompensa,.tarjetita_pronostico_3 .eleccion_partido{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    place-items: center;
    gap:5px;
}
.tarjetita_pronostico_3 .eleccion_partido{
    grid-template-columns: 1fr 60px;
    grid-template-rows: 60px;
}
.tarjetita_pronostico_3 .eleccion_partido b{
    overflow: hidden;
    height: 25px;
    word-break: break-all;
    border-bottom: 3px solid var(--primary-color);
}
.tarjetita_pronostico_3 .eleccion_partido img{
    grid-column:  1 / span 2;
}
.tarjetita_pronostico_3 .recompensa p,.tarjetita_pronostico_3 .recompensa input,.tarjetita_pronostico_3 .eleccion_partido p{
    margin: auto;
    padding:3px 5px;
    border-radius:4px;
    overflow: hidden;
    width:60px;
    height:30px;
    text-align: center;
    margin: 2px;
    line-height: 1.5;
    border:1px solid black;
    background: var(--secondary-color);
    color: white;
}

.tarjetita_pronostico_3 .recompensa input{
    background: white;
    color: black;
}
.tarjetita_pronostico_3 .btn_card{
    display: grid;
    place-content: center;
    place-items: center;
    padding:5px;
}
.tarjetita_pronostico_3 .btn_card button{
    background: var(--primary-color);
    padding:5px 10px;
    color:white;
    font-weight: bold;
}
@media(min-width: 400px){
    .container_tarjetitas_3 > div{
        grid-template-columns: repeat(1,80%);
    }
}
@media(min-width: 512px){
    .container_tarjetitas_3 > div{
        grid-template-columns: repeat(2,1fr);
        gap:1px;
    }
}
@media(min-width: 600px){
    .container_tarjetitas_3 > div{
        gap:10%;
    }
}
@media(min-width: 710px){
    .container_tarjetitas_3 > div{
        grid-template-columns: repeat(3,1fr);
        gap:1px;
    }
}
@media(min-width: 960px){
    .container_tarjetitas_3 > div{
        grid-template-columns: repeat(4,1fr);
        gap:1%;
    }
}

@media(min-width: 1280px){
    .container_tarjetitas_3 > div{
        grid-template-columns: repeat(3,1fr);
        gap:2%;
    }
}